/*SIMPLES2*/
@define-color text-unfocused rgba(255,255,255,0.5);
@define-color text white;
@define-color border rgba(128,128,128,0.4);
@define-color background rgba(0,0,0, 0.3);

*{
font-family:Symbols Nerd Font Mono,Noto San JP;
font-size:15px;
color:@text;
border-radius:0px;
}
image{
border-radius:15px;
margin:0px 10px 0px 0px;
background:@background;
}
.notification,.control-center{
color:@text;
border:1px solid @border;
border-radius:20px;
background:@background;
padding:0px 5px;
margin:5px;
}