@define-color unfocused #b3b3b3;
@define-color text white;
@define-color border white;
@define-color background rgba(0,0,0,0.5);
*{
font-family:Blender Pro Bold,Symbols Nerd Font Mono;
font-size:15px;
transition:none;
min-height: 0;
min-width: 0;
}

window#waybar{
background:none;
}
.modules-left,.modules-center,.modules-right{
border:1px solid @border;
border-radius:20px;
background:@background;
padding:0px;
}
#custom-menu,#cpu,#memory,#disk,#tray,#network,#pulseaudio,#backlight,#battery,#clock,tooltip,#workspaces button.active{
border:0.5px solid @border;
border-radius:20px;
padding:5px;
margin:0px 3px;
color:@text;
background:@background;
}
#workspaces,#workspaces button {
color:@unfocused;
transition:none;
margin:0px;
}
#workspaces button.urgent {
color:yellow;
}
#custom-menu,#workspaces button.active,#tray,#network{
margin-left:0px;
}
#disk,#workspaces button.active,#clock{
margin-right:0px;
}