@define-color yellow yellow;
@define-color unfocused gray;
@define-color text white;
@define-color border white;
@define-color background rgba(0,0,0,0.7);
@define-color boxbackground black;
*{
font-family:Blender Pro Bold,Symbols Nerd Font Mono;
font-size:15px;
transition:none;
min-height: 0;
min-width: 0;
}

window#waybar{
background:none;
}

tooltip,#custom-menu,#temperature,#cpu,#memory,#disk,#battery,#workspaces button.active,#taskbar,#tray,#network,#backlight,#pulseaudio,#clock{
border:1px solid @text;
color:@text;
border-radius:5px;
background:@boxbackground;
padding:5px;
margin:0px 3px;
}
#workspaces,#workspaces button.active{
border-radius:5px;
background:@background;
margin:0px;
}

#workspaces ,#workspaces button.focused,#workspaces button {
color:@unfocused;
transition:none;
margin:0px;
}
#workspaces button.urgent {
color: @yellow;
}
#workspaces{
border:0.5px solid @border;
border-radius:7px;
margin:0px;
}
#custom-menu{
margin-left:0px;
}
#clock{
margin-right:0px;
}

 
