/*SIMPLES*/
@define-color unfocused rgba(255,255,255,0.5);
@define-color text white;
@define-color border white;
@define-color background rgba(0,0,0,0.5);
*{
font-family:Noto San JP,Symbols Nerd Font Mono;
font-size:15px;
min-height:0px;
min-width:0px;
transition:none;
}

tooltip,window#waybar,#cpu,#memory,#disk,#bluetooth,#backlight,#battery,#tray,#network,#pulseaudio,#clock,#workspaces button.active,#workspaces button,#custom-notification,#custom-play,#custom-menu,#group-music{
color:@text;
border:1px solid @border;
border-radius:20px;
padding:6px;
margin:0px 3px;
background:@background;
min-width:18px;
}
#custom-menu,#clock{
margin:0px;
}
#custom-music{
margin:0px 8px;
}
#workspaces button.urgent {
color:yellow;
}
#workspaces button:hover{
color:@text;
transition: all 0.5s linear;
}
#workspaces button{
color:@unfocused;
min-width:18px;
border:1px solid transparent;
background:none;
transition: all 0.5s linear;
}
#workspaces button.active{
transition: all 0.2s linear;
}
#cpu,#memory,#disk,#backlight,#bluetooth,#battery{
min-width:50px;
}