@define-color text #FFA757;
@define-color border #FFA757;
@define-color unfocused rgba(255, 167, 87,0.5);
@define-color background rgba(0,0,0,0);
*{
font-family:Symbols Nerd Font Mono,Terminess Nerd Font Mono;
font-size:15px;
background:transparent;
}
#custom-menu,#cpu,#memory,#disk,#bluetooth,#battery,#taskbar,#window,#tray,#network,#backlight,#pulseaudio,#clock,#custom-notification{
color:@text;
min-width:15px;
padding:0px 7px;
margin:3px;
}
#cpu,#memory,#disk,#backlight,#bluetooth,#battery{
min-width:50px;
}
#workspaces button.active{
color:@text;
border-bottom:3px solid @border;
}
#workspaces button{
color:@unfocused;
border-bottom:3px solid @unfocused;
min-width:20px;
}
#workspaces button.urgent {
color:yellow;
}
tooltip{
border:1px solid @border;
background:black;
}