*{
font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
font-size:13px;
color:white;
letter-spacing:-0.5px;
}
window#waybar{
background:transparent;
}

#cpu,#memory,#workspaces,#window,#network,#pulseaudio,#clock{
background-color:black;
border: 1px solid white;
border-radius: 30px;
padding:0 10px;
margin:5px;
}
#workspaces{
padding:0;
}

