/*amarelo #fbec02 azul #23abb2 fundo #1b1219*/
*{
font-family:FontAwesome,Play;
font-size:15px;
color:#23abb2;
}

window#waybar{
background: linear-gradient(180deg,#1d131b 0%, #131317 100%);
border-bottom: 2px solid #48c3c5;
}

tooltip,#cpu,#memory,#taskbar,#window,#workspaces,#custom-logo,#network,#pulseaudio,#clock{
background:#1d131b;
border: 2px solid #48c3c5;
border-radius:0 0 3px 0;
padding:0 5px;
margin:5px;
}

#taskbar,#workspaces{
padding:0;}
#custom-logo{
padding:0 10;}

