@define-color text #FFA757;
@define-color unfocused rgba(255, 167, 87, 0.5);
@define-color border #FFA757;

*{
font-family:"Terminess Nerd Font Mono";
font-size:15px;
font-weight:bold;
color:@text;
border-radius:0px;
}
.notification{
background:black;
border:1px solid @border;
}
.control-center{
background:black;
border:1px solid @border;
}
