
/*base background color*/
@define-color bg_main rgba(0, 0, 0, 0.9);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
text-shadow: none;
box-shadow: none;
border: none;
border-radius: 0;
font-family:"Symbols Nerd Font Mono","Segoe UI Variable";
font-weight: 600;
font-size: 12.7px;
}

window#waybar,tooltip ,tooltip label{
background:  @bg_main;
color: @content_main;
}

#custom-menu {
font-size: 24px;
padding: 0px 16px;
}

#taskbar button.active{
background: @bg_active;
}

#custom-menu:hover,#taskbar button:hover,#tray > widget:hover,#network:hover,#pulseaudio:hover,#clock:hover {
color: @content_main;
background: @bg_hover;
}
#taskbar button,#taskbar button:hover,#tray > widget,#network,#pulseaudio,#language,#clock,#custom-notification{
padding:0px 5px;
transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-notification{
padding:0px 12px;
border-right:2px solid @border_main;
margin-right:4px;
}
#taskbar button.active ,#taskbar button:hover,#taskbar button{
border-bottom: 3px solid white;
margin:0px 5px;
padding:0px 10px;
}