/*SWAYNC AERO*/
@define-color twhite rgba(255,255,255, 0.3);
@define-color tblack rgba(0,0,0, 0.3);
*{
font-family:Play;
font-size:15px;
box-shadow: none;
}
*{
font-family:Symbols Nerd Font Mono,Play;
font-size:15px;
color:white;
border-radius:0px;
}
img {border-radius:20px;}
.notification,.control-center{
color:white;
border:1px solid @twhite;
border-radius:20px;
background: linear-gradient(180deg,@twhite 0%, @tblack 30%);
padding:0px 5px;
margin:5px;
}
.control-center{
color:@twhite;
background: linear-gradient(180deg,@twhite 0%, @tblack 10%);
}