/*SWAYNC AERO*/
@define-color twhite rgba(255,255,255, 0.3);
@define-color tblack rgba(0,0,0, 0.3);
*{
font-family:Symbols Nerd Font Mono, Noto San JP;
font-size:15px;
font-size:15px;
color:white;
box-shadow: none;
}
image{
border-radius:15px;
box-shadow: 0px 0px 1px 1px @tblack;
margin:0px 10px 0px 0px;
background: @tblack;
}
.notification,.control-center{
color:white;
box-shadow: 0px 0px 1px 1px @tblack;
border:1px solid @twhite;
border-radius:20px;
background: linear-gradient(180deg,@twhite 0%, @tblack 30%);
padding:0px 5px;
}
.control-center{
margin:5px;
background: linear-gradient(180deg,@twhite 0%, @tblack 10%);
}