@define-color unfocused rgba(255,255,255,0.5);
@define-color text white;
@define-color border white;
@define-color background rgba(0,0,0,0.5);
*{
font-family:Blender Pro Bold,Symbols Nerd Font Mono;
font-size:15px;
min-height:0px;
min-width:0px;
transition:none;
}
window#waybar,#custom-menu,#cpu,#memory,#disk,#tray,#custom-notification,#network,#pulseaudio,#backlight,#battery,#clock,tooltip,#workspaces button.active{
border:1px solid @border;
border-radius:20px;
padding:6px;
margin:0px 3px;
color:@text;
background:@background;
min-width:18px;
}
#custom-menu,#workspaces,#workspaces button,#workspaces button.active,#clock,#tray{
margin:0px;
}
#workspaces button.urgent {
color:yellow;
}
#workspaces,#workspaces button {
color:@unfocused;
}
#workspaces button:hover{
border:1px solid @border;
border-radius:20px;
}
.modules-center{
padding:0px;
}