/*SIMPLES*/
@define-color unfocused rgba(255,255,255,0.4);
@define-color text white;
@define-color border @unfocused;
@define-color background rgba(0,0,0, 0.3);
*{
font-family:Noto San JP,Symbols Nerd Font Mono;
font-size:100%;
min-height:0px;
min-width:0px;
transition:none;
}
window.splash#waybar *{
border:none;
background:transparent;
}
#custom-splash{
color:white;
text-shadow:-1px -1px 2px black,1px 1px 2px black;
padding:10px;
}
.modules-left,.modules-center,.modules-right{
border:1px solid @border;
border-radius:20px;
background:@background;
}
window#waybar{
background:transparent;
}
#cpu,#memory,#disk,#bluetooth,#backlight,#battery,#tray,#network,#pulseaudio,#clock,#custom-notification,#custom-menu{
color:@text;
border-radius:50%;
padding:6px;
margin:0px 3px;
min-width:18px;
}
#custom-menu,tooltip{
background:@background;
margin:0px;
box-shadow: 0px 0px 1px 1px @border;
border-radius:20px;
min-width:20px;
min-height:20px;
}
#custom-menu{
background:none;
}
#custom-menu:hover{
font-weight:bolder;
text-shadow:-1px -1px 5px @unfocused,1px 1px 5px @unfocused;
}
#custom-music,#custom-previous,#custom-next,#custom-playing{
margin:0px 8px;
font-weight:bold;
font-size:10px;
}
#workspaces button{
margin:0px 3px;
color:@unfocused;
min-width:18px;
border:1px solid transparent;
background:none;
transition: all 0.5s linear;
min-width:20px;
min-height:20px;
}
#workspaces button.active,#workspaces button:hover{
color:@text;
background-image: radial-gradient(circle farthest-side, rgba(0,0,0, 0.5), transparent);
border-radius:20px;
transition: all 0.2s linear;
}
#workspaces button.urgent {
color:yellow;
}
#workspaces button:hover{
background:transparent;
}
#cpu,#memory,#disk,#backlight,#bluetooth,#battery{
min-width:50px;
}
