@define-color yellow #fdee00;
@define-color unfocused #ee4f47;
@define-color text #79a2ac;
@define-color border #48c3c5;
@define-color background rgba(36, 15, 22, 0.7);
@define-color boxbackground rgba(18, 16, 29, 1);
window.cyberpunk#waybar{
background:@background;
transition-property: background-color;
transition-duration: .5s;
}
window.musica#waybar{
background:transparent;
}
*{
font-family:Symbols Nerd Font Mono,Play;
font-size:15px;
transition:none;
min-height: 0;
min-width: 0;
border-radius:0px;
}
tooltip,#custom-menu,#cpu,#memory,#disk,#bluetooth,#battery,#taskbar,#window,#tray,#network,#backlight,#pulseaudio,#clock,#custom-notification{
color:@text;
min-width:15px;
padding:0px 7px;
margin:3px;
background-image:linear-gradient(180deg, @border, @border),linear-gradient(225deg, @border, @border),linear-gradient(0deg, @border, @border),linear-gradient(90deg, @border, @border),linear-gradient(135deg, transparent 9px, @border 10px, @border 1px, transparent 12px),linear-gradient(180deg, @boxbackground, @boxbackground),linear-gradient(135deg,@boxbackground, @boxbackground),linear-gradient(135deg, @boxbackground,@boxbackground 65%, transparent 75%);
background-position:bottom left,top left,top right,top right,bottom right,top left,top right,bottom right;
background-size:calc(100% - 7px) 1px,1px 100%,100% 1px,1px calc(100% - 7px),10px 12px,calc(100% - 7px),10px calc(100% - 7px),10px 12px;
background-repeat: no-repeat;
}
#cpu,#memory,#disk,#backlight,#bluetooth,#battery{
min-width:50px;
}
#workspaces button.active{
color:@border;
border-bottom:3px solid @border;
transition: all 0.2s linear;
}
#workspaces button{
color:@unfocused;
border-bottom:3px solid @unfocused;
min-width:20px;
transition: all 1s linear;
}
#workspaces button.urgent {
color: @yellow;
}
#custom-music,#custom-previous,#custom-next,#custom-playing{
color:@text;
margin:8px;
font-weight:bold;
font-size:10px;
}